<!DOCTYPE html>
<html lang = "eng-us"

<head>
    <meta charset = "UTF-8">
    <title>Mars Facts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-12">
                <h3><strong>Latest Mars News</strong></h3>
                <br>
                <h5><strong>{{ mars_data.news_title }}</strong></h5>
                <p>{{ mars_data.news_p }}</p>
            </div>
        </div>
    </div>
    
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-md-8">
                <div class = "card-body">
                    <h3 class = "card-title"><strong>Featured Mars Image</strong></h3>
                    <img class = "card-img-top" src = "{{ mars_data.featured_image_url }}" alt = "Featured Image of Mars">
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "card-body">
                    <h5 class = "card-title"><strong>Mars Facts</strong></h5>
                    <p>{{ mars_data.mars_facts | safe }}</p>
                    
                </div>
            </div>
        </div>
    </div>

    <br>
    <h3 align = "center"><strong>Mars Hemisphere</strong></h3>
    <hr>

    <div class = "container-fluid">
        <div class = "row">
            
                {% for data in mars_data.hemisphere_image_urls %}
                <div class = "col-md-6">
                    <figure class = "figure"> 
                        <img class = "figure-img img-fluid rounded" src = "{{ data.img_url }}" alt = "Featured Image of Mars">
                        <figcaption class = "figure-caption" style="color:black"><strong>{{ data.title }}</strong></figcaption>
                    </figure>
                </div>
                {% endfor %}
            
        </div>
    </div>
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

</body>
</html>